---
layout: default
---


<div class="home">
    {% assign noReviews = site.posts | where_exp: "post", "post.category != 'reviews'" %}

    {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
    {%- endif -%}

    {{ content }}

    <h2 class="post-list-heading">{{ page.list_title | default: "Non-Review Posts" }}</h2>
    {%- if noReviews.size > 0 -%}
    <ul class="post-list">
        {%- for post in noReviews limit:3 -%}
        <li>
            {%- assign date_format = site.minima.date_format | default: "%b %-d, %Y" -%}
            <span class="post-meta">{{ post.date | date: date_format }}</span>
            <h3>
                <a class="post-link" href="{{ post.url | relative_url }}">
                    {{ post.title | escape }}
                </a>
            </h3>
            {%- if site.show_excerpts -%}
                {{ post.excerpt }}
            {%- endif -%}
        </li>
        {%- endfor -%}
    </ul>

    {%- else -%}
        <p>I haven't written any non-review posts yet. Check back later!</p>
    {%- endif -%}
    <p class="rss-subscribe">subscribe to all uploads <a href="{{ " /feed.xml" | relative_url }}">via RSS</a></p>

</div>